<div class="hero-detail" *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>

  <div class="hero-info">
    <div><span class="label">ID: </span><span>{{ hero.id }}</span></div>
    <div><span class="label">Name: </span><span>{{ hero.name }}</span></div>
    <div><span class="label">Attack: </span><span>{{ hero.attack }}</span></div>
    <div><span class="label">Dodge: </span><span>{{ hero.dodge }}</span></div>
    <div><span class="label">Damage: </span><span>{{ hero.damage }}</span></div>
    <div><span class="label">HP: </span><span>{{ hero.hp }}</span></div>
    <div><span class="label">Favorite: </span><span>{{ hero.isFavorite }}</span></div>
    <div *ngIf="hero.weapon"><span class="label">Weapon: </span><a routerLink="/weapons/detail/{{hero.weapon}}">{{ weaponName }}</a></div>
  </div>

  <div class="hero-actions">
    <button class="btn-primary" (click)="goBack()">Go Back</button>
    <button class="btn-secondary" routerLink="/heroes/edit/{{ hero.id }}">Edit</button>
  </div>
</div>
