<script src="hero-editor.component.ts"></script>
<div class="hero-editor" *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Editor</h2>

  <div class="attribut">
    <label for="name">Hero Name</label>
    <input id="name" [(ngModel)]="hero.name" placeholder="Name">
  </div>

  <div class="attribut">
    <label for="attack">Hero Attack</label>
    <input id="attack" [(ngModel)]="hero.attack" type="number" placeholder="Attack" min="{{minimum}}" max="{{maximum}}">
  </div>

  <div class="attribut">
    <label for="dodge">Hero Dodge</label>
    <input id="dodge" [(ngModel)]="hero.dodge" type="number" placeholder="Dodge" min="{{minimum}}" max="{{maximum}}">
  </div>

  <div class="attribut">
    <label for="damage">Hero Damage</label>
    <input id="damage" [(ngModel)]="hero.damage" type="number" placeholder="Damage" min="{{minimum}}" max="{{maximum}}">
  </div>

  <div class="attribut">
    <label for="hp">Hero HP</label>
    <input id="hp" [(ngModel)]="hero.hp" type="number" placeholder="HP" min="{{minimum}}" max="{{maximum}}">
  </div>

  <div class="attribut">
    <label for="fav">Favorite</label>
    <input id="fav" [(ngModel)]="hero.isFavorite" type="checkbox" placeholder="HP">
  </div>

  <div class="attribut">
    <label>Remaining Points:</label>
    <span class="remaining-points">{{ hero.remainingPoints() }}</span>
  </div>

  <div class="buttons">
    <button class="btn-primary" (click)="update(hero.name, hero.attack, hero.dodge, hero.damage, hero.hp, hero.isFavorite)">Update</button>
    <button class="btn-secondary" (click)="goBack()">Go Back</button>
    <button class="btn-danger" (click)="delete()" routerLink="/heroes">Delete</button>
  </div>
</div>
