.error-404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 250px;
}

h2 {
  font-size: 3rem;
  color: #e74c3c;
  margin-bottom: 20px;
}

p {
  font-size: 1.5rem;
  color: #7f8c8d;
  margin-bottom: 40px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}
